*{
    font-family: consolas; 
}

ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    position: fixed;
    top: 0;
    width: 100%;
}
li{
    float: left;
}

li a{
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
li a:hover:not(.active) {
    background-color: #111;
  }
.active{
    background-color: #04AA6D;
}
body{
    padding: 20px;
    margin-top: 30px;
    height: 1500px;
    background-image: url(/Prosjekt/Nybak.webp);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
}

.tabell{
    background-color: white;
    width: fit-content;
    max-width: 1000px;
}

table tr th{
    border: 1px solid;
}

table tr td{
    border:1px solid;
}

table tr td a .bilde {
    width: 150px;
}