*{
    font-family: consolas;
   
}

ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    position: fixed;
    top: 0;
    width: 100%;
}
li{
    float: left;
}

li a{
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
li a:hover:not(.active) {
    background-color: #111;
  }
.active{
    background-color: #04AA6D;
}
body{
    padding: 20px;
    margin-top: 30px;
    height: 1500px;
    background-image: url(/Prosjekt/Nybak.webp);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
}

.skrift .over h2{
    position: relative;
    font-size: 6em;
    color:0,0,0;
}
.info{
    position: relative;
    width: 300px;
    background: rgba(255, 255, 255,0.05);
    z-index: 1000;
    border-radius: 20px;
    border: 1px solid rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(20px);
}
.status{
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 300px;
    background: rgba(255, 255, 255,0.05);
    z-index: 1000;
    border-radius: 20px;
    border: 1px solid rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(20px);
}
.skriftom{
    background: rgba(255, 255, 255,0.05);
    z-index: 1000;
    border-radius: 20px;
    border: 1px solid rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(20px);
}
.skriftom .overom h2{
    position: relative;
    font-size: 3em;
    color:0,0,0;
}
.tabell{
    background-color: white;
    width: fit-content;
    max-width: 1000px;
}

